//****************    COLORS    **********************//

$color-white: #fff;
$bgColor-black: #000;
$bgColor-grey-light: #a5a5a5;
$bgColor-orange: #f1a33c;
$bgColor-grey-dark: #333;
$bgColor-input: #dbd8d3;
$bgImage: url(../../img/background-image.jpg);
$shadowColor: rgba(255, 255, 255, 0.5);

//****************    FONT    **********************//

$primary-font-family: Arial, Helvetica, sans-serif;
$default-font-size: 62.5%;
$content-font-size: 3.7rem;
